# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/
package-lock.json
yarn.lock

# Next.js
client/.next/
client/out/
client/next-env.d.ts
client/*.tsbuildinfo

# Production
build/
dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Mapbox
*.pem
